@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Righteous&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.man{
  display: flex;
}

.man-img{
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

.titulo h2{
  font-size: 30px;
  color: red;
}

.anuncio{
  margin:auto;
  background-color: rgb(183, 218, 238);
  width: 450px;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.856);
  font-size: 20px;
  font-weight:bolder;
  padding: auto;
}


.anuncio ul {
  text-align: left;
  padding: 0; /* Eliminar el espacio interno predeterminado de la lista */
  margin: 0; /* Eliminar el espacio externo predeterminado de la lista */
}

.landing{
  margin-bottom: 16px;
  color: rgb(255, 19, 19);
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.anuncio li {
  list-style: none; /* Eliminar las viñetas de la lista */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 2px;
}


.gallery{
  display: flex;
  justify-content: center;
  padding:16px;
}

.main-image img{
  border-radius: 10px;
  border: 4px solid black;
  width: 100%;
  /* object-fit: cover; */
  margin-bottom: 10px;
  margin-top: 16px;
}

.secondary-images{
  display: flex;
  overflow-y: auto;
}

.secondary-images img{
  width: 100%;
  object-fit: cover;
  width: 400px;
  height: 200px;
  margin-right: 10px;
}




.man-videos{
  display: flex;
}

h2{
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  color: gray;
}

.videos{
  height: 400px;
  height: 400px;
  display: flex;
  padding: 50px;
  gap: 40px;
}
  

.hombre{
  width: 25%;
  height: 100px;
  display: flex;
  justify-content:center;
  margin-right: 40px;
  
}

main section img {
  width: 600px;
  height: 450px;
  display: flex;
    
} 

.main-pictures{
  display: flex;
  flex-direction: column;
  gap:20px;
}

main section .pictures img{
  width: 50%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.video-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 56.25%; /* Proporción 16:9 (para videos de YouTube) */
    /* overflow: hidden; */
  }
  
  .video-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
  }
  
  

  /* NavBar.css */

/* ... tus estilos anteriores ... */

/* Estilos para la ventana modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  width: 200px;
  height: 440px;
  background-color:rgba(243, 230, 230, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenido con opacidad */
.header {
  position: relative;
}

.modal-open .header {
  opacity: 0.9; /* Opacidad del 50% para el contenido */
  pointer-events: none; /* Evitar interacción con los elementos detrás de la ventana modal */
}
.man-img{
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

@media only screen and (max-width:800px){
  
  .man-img{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    margin-left: 70px;
  }
  
  .titulo h2{
    font-size: 20px;
    color: red;
  }
  
  .anuncio{
    margin:auto;
    background-color: rgb(183, 218, 238);
    width: 400px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.856);
    font-size: 16px;
    font-weight:bolder;
    padding: auto;
  }
  
  
  .anuncio ul {
    text-align: left;
    padding: 0; /* Eliminar el espacio interno predeterminado de la lista */
    margin: 0; /* Eliminar el espacio externo predeterminado de la lista */
  }
  
  .landing{
    margin-bottom: 16px;
    color: rgb(255, 19, 19);
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .anuncio li {
    list-style: none; /* Eliminar las viñetas de la lista */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 2px;
  }
  
  
  .gallery{
    display: flex;
    justify-content: center;
    padding:12px;
  }
  
  .main-image img{
    border-radius: 10px;
    border: 4px solid black;
    width: 100%;
    /* object-fit: cover; */
    margin-bottom: 10px;
    margin-top: 16px;
  }
  
  .secondary-images{
    display: flex;
    overflow-y: auto;
  }
  
  .secondary-images img{
    width: 100%;
    object-fit: cover;
    width: 300px;
    height: 150px;
    margin-right: 10px;
  }
  
    
  .man-videos{
    display: flex;
    height: 200px;
  }
  
  h2{
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    color: gray;
  }
  
  .videos{
    height: 400px;
    display: flex;
    padding: 40px;
    gap: 30px;
  }
    
  
  .hombre{
    width: 25%;
    height: 70px;
    display: flex;
    justify-content:center;
    margin-right: 30px;
    
  }
  
  main section img {
    width: 250px;
    height: 200px;
    display: flex;
      
  } 
  
  .main-pictures{
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  
  main section .pictures img{
    width: 50%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .video-container {
      gap: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 56.25%; 
      ;
      /* Proporción 16:9 (para videos de YouTube) */
      /* overflow: hidden; */
    }
    
    .video-container iframe {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
    }
    
  
}