@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Righteous&display=swap');

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.man{
  display: flex;
}

.man-img{
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

.titulo h2{
  font-size: 30px;
  color: red;
}

.anuncio{
  margin:auto;
  border: 2px solid rgba(0, 0, 0, 0.829);
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(12, 137, 240, 0.8);
  font-size: 20px;
  font-weight:bolder;
  padding: auto;
}


.anuncio ul {
  text-align: left;
  padding: 0; /* Eliminar el espacio interno predeterminado de la lista */
  margin: 0; /* Eliminar el espacio externo predeterminado de la lista */
}

.anuncio li {
  list-style: none; /* Eliminar las vi침etas de la lista */
}


.gallery{
  display: flex;
  justify-content: center;
  padding:16px;
}

.main-image img{
  border-radius: 10px;
  border: 4px solid black;
  width: 100%;
  /* object-fit: cover; */
  margin-bottom: 10px;
  margin-top: 16px;
}

.secondary-images{
  display: flex;
  overflow-y: auto;
}

.secondary-images img{
  width: 100%;
  object-fit: cover;
  width: 400px;
  height: 200px;
  margin-right: 10px;
}




.man-videos{
  display: flex;
}

h2{
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  color: gray;
}

.videos{
  height: 400px;
  height: 600px;
  display: flex;
  padding: 50px;
  gap: 40px;
}
  

.hombre{
  width: 25%;
  height: 100px;
  display: flex;
  justify-content:center;
  margin-right: 40px;
  
}

main section img {
  width: 600px;
  height: 450px;
  display: flex;
    
} 

.main-pictures{
  display: flex;
  flex-direction: column;
  gap:20px;
}

main section .pictures img{
  width: 50%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.video-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 56.25%; /* Proporci칩n 16:9 (para videos de YouTube) */
    /* overflow: hidden; */
  }
  
  .video-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
  }
  
  

  /* NavBar.css */

/* ... tus estilos anteriores ... */

/* Estilos para la ventana modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  width: 200px;
  height: 490px;
  background-color:rgba(243, 230, 230, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenido con opacidad */
.header {
  position: relative;
}

.modal-open .header {
  opacity: 0.9; /* Opacidad del 50% para el contenido */
  pointer-events: none; /* Evitar interacci칩n con los elementos detr치s de la ventana modal */
}
