@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Righteous&display=swap');

.main-container{
  background-image: url("https://img.freepik.com/vector-gratis/fondo-semitono-azul-blanco_53876-99003.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Esto har치 que la imagen ocupe todo el espacio disponible */
  width: 100%;
  display: flex;
  justify-content: space-around;
}

h2{
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  color: gray;
  
}

.hombre{
  width: 25%;
  height: 100px;
  /* display: flex; */
  justify-content:center;
  margin-right: 40px;
  
}

main section img {
  width: 600px;
  height: 450px;
  display: flex;
    
} 

.main-pictures{
  display: flex;
  flex-direction: column;
  gap:20px;
}

main section .pictures img{
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.video-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 56.25%; /* Proporci칩n 16:9 (para videos de YouTube) */
    /* overflow: hidden; */
  }
  
  .video-container iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
  }
  
  

  /* NavBar.css */

/* ... tus estilos anteriores ... */

/* Estilos para la ventana modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 200px;
  height: 490px;
  background-color:rgba(243, 230, 230, 0.9);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenido con opacidad */
.header {
  position: relative;
}

.modal-open .header {
  opacity: 0.9; /* Opacidad del 50% para el contenido */
  pointer-events: none; /* Evitar interacci칩n con los elementos detr치s de la ventana modal */
}
